/* Estilos al body, todo la pantalla */
body{
    margin:0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    /* Manita sobre la etiquetas */
    cursor: pointer;
}

/* Estilos del header */
header{
    width: 100%;
    height: 60px; 
}

header nav{
    display: flex;
    justify-content: flex-end;
}

/* Posicionar la lista en horizontal y sin estilos */
header nav .nav-right-section{
    width: 205px;
    height: auto;
    display: flex;
    list-style:none;
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a{
    margin-right: 10px;
    color: #000000;  
}

/* agrego icono de menu */
nav .nav-right-section .menu-item{
    background-image: url("https://static.thenounproject.com/png/756729-200.png") ;
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

/* Estilos para la foto */
nav .nav-right-section img{
    /* Imagen redondeada */
    border-radius: 50%;
    margin-left: 10px;

}

/* Estilos del main */

main{
    margin-top:150px;
    text-align: center;
}

main .main-logo{

    /* Centrar la foto */
    margin: 0 auto;
    margin-bottom: 35px;
}

/* Tamaño del logo */
main .main-logo img{
    width: 272px;

}

/* Estilos del input */
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;

}

/* Estilos del contenedor del input */
main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display:flex; 
    justify-content: center;
    align-items:center ;
}

main .main-input .main-input-container input{
    width: 450px;
    height: 40px;
    border:none;
    outline: none; 
}

/* Estilo hover */
main .main-input-container:hover{
    box-shadow:0 1px 6px 0 #20212447;
    border-color:#dfe1e500; 

}

/* Colocar iconos en el input */
main .main-input .search-icon{
    background-image:url("https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    width: 18px;
    height: 18px;
    opacity: 0.4;
}

main .main-input .micro-icon{
    /* 
    https://cdn.icon-icons.com/icons2/2642/PNG/512/google_mic_logo_icon_159335.png
    */
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}